# Desafio 1

Para esse desafio, vamos trabalhar com o data set [Black Friday](https://www.kaggle.com/mehdidag/black-friday), que reúne dados sobre transações de compras em uma loja de varejo.

Vamos utilizá-lo para praticar a exploração de data sets utilizando pandas. Você pode fazer toda análise neste mesmo notebook, mas as resposta devem estar nos locais indicados.

> Obs.: Por favor, não modifique o nome das funções de resposta.

## _Set up_ da análise

In [2]:
import pandas as pd
import numpy as np

In [3]:
black_friday = pd.read_csv("black_friday.csv")

## Inicie sua análise a partir daqui

In [42]:
((black_friday['Purchase']-black_friday['Purchase'].min())/(black_friday['Purchase'].max()-black_friday['Purchase'].min())).mean()

0.38479390362696736

## Questão 1

Quantas observações e quantas colunas há no dataset? Responda no formato de uma tuple `(n_observacoes, n_colunas)`.

In [5]:
def q1():
    # Retorne aqui o resultado da questão 1.
    #Shape retorna o solicitado
    return black_friday.shape
    pass

## Questão 2

Há quantas mulheres com idade entre 26 e 35 anos no dataset? Responda como um único escalar.

In [25]:
def q2():
    # Retorne aqui o resultado da questão 2.
    #Filtro de idade
    filtro_idade=black_friday["Age"]=="26-35"
    filtro_genero=black_friday["Gender"]=="F"
    return black_friday[filtro_idade&filtro_genero].shape[0]
    pass

## Questão 3

Quantos usuários únicos há no dataset? Responda como um único escalar.

In [37]:
def q3():
    # Retorne aqui o resultado da questão 3.
    #Funcao nunique tira os duplicados, aplicando a coluna User_ID
    return black_friday["User_ID"].nunique()
    pass

## Questão 4

Quantos tipos de dados diferentes existem no dataset? Responda como um único escalar.

In [38]:
def q4():
    # Retorne aqui o resultado da questão 4.
    #dtrypes retorna uma serie com todos os tipos de cada coluna, aplicando nunique novamente
    return black_friday.dtypes.nunique()
    pass

## Questão 5

Qual porcentagem dos registros possui ao menos um valor null (`None`, `ǸaN` etc)? Responda como um único escalar entre 0 e 1.

In [59]:
def q5():
    # Retorne aqui o resultado da questão 5.
    #Como existem 2 colunas apenas que contem Null, e a menor é subconjunto da maior, usamos a maior porcentagem
    return black_friday.isnull().mean().max()
    pass

## Questão 6

Quantos valores null existem na variável (coluna) com o maior número de null? Responda como um único escalar.

In [68]:
def q6():
    # Retorne aqui o resultado da questão 6.
    #Igual o exercicio anterior mais agora sem utilizar o mean() e adcionando o sum
    return black_friday.isnull().sum().max()
    pass

## Questão 7

Qual o valor mais frequente (sem contar nulls) em `Product_Category_3`? Responda como um único escalar.

In [83]:
def q7():
    # Retorne aqui o resultado da questão 7.
    #primeiro seleciona a coluna Product Category 3 contabiliza a frequencias e retorna o index com a maior contagem
    return black_friday['Product_Category_3'].value_counts().idxmax()
    pass

## Questão 8

Qual a nova média da variável (coluna) `Purchase` após sua normalização? Responda como um único escalar.

In [92]:
def q8():
    # Retorne aqui o resultado da questão 8.
    # Normalizando por min-max.
    return float(((black_friday['Purchase']-black_friday['Purchase'].min())/(black_friday['Purchase'].max()-black_friday['Purchase'].min())).mean())
    pass

## Questão 9

Quantas ocorrências entre -1 e 1 inclusive existem da variáel `Purchase` após sua padronização? Responda como um único escalar.

In [12]:
def q9():
    # Retorne aqui o resultado da questão 9.
    #Primeiramente normalizamos a coluna, depois aplicamos os filtros e por fim contamos os valores
    valores_norm=(((black_friday['Purchase']-black_friday['Purchase'].mean())/black_friday['Purchase'].std()))
    filtro_superior=valores_norm<=1
    filtro_inferior=valores_norm>=-1
    return int(valores_norm[filtro_superior&filtro_inferior].count())
    pass

## Questão 10

Podemos afirmar que se uma observação é null em `Product_Category_2` ela também o é em `Product_Category_3`? Responda com um bool (`True`, `False`).

In [102]:
def q10():
    # Retorne aqui o resultado da questão 10.
    #Primeiro é descartado todas as linhas que são nulas no Category 3 e depois verificar se existe ainda null no category 2.
    return bool(~black_friday.dropna(subset=['Product_Category_3'])['Product_Category_2'].isnull().max())
    pass