Desafio Enem

Carrega dados de treino:

In [61]:
import pandas as pd
import seaborn as sns
from sklearn.linear_model import LinearRegression

In [119]:
df = pd.read_csv('test.csv')

In [120]:
df.dropna(subset=['NU_NOTA_CN','NU_NOTA_CH','NU_NOTA_LC'],inplace=True)

In [121]:
columns=df.columns.tolist()
columns.append('NU_NOTA_MT')

In [122]:
df_train = pd.read_csv('train.csv')

In [123]:
df_train.head()

,Unnamed: 0,NU_INSCRICAO,NU_ANO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,...,Q041,Q042,Q043,Q044,Q045,Q046,Q047,Q048,Q049,Q050
0,1,ed50e8aaa58e7a806c337585efee9ca41f1eb1ad,2016,4314902,Porto Alegre,43,RS,24,M,0.0,...,5.0,A,A,A,A,A,A,A,B,D
1,2,2c3acac4b33ec2b195d77e7c04a2d75727fad723,2016,2304707,Granja,23,CE,17,F,0.0,...,NaN,A,A,C,A,B,A,A,C,A
2,3,f4545f8ccb9ff5c8aad7d32951b3f251a26e6568,2016,2304400,Fortaleza,23,CE,21,F,0.0,...,NaN,A,A,A,A,C,A,A,B,A
3,4,3d6ec248fef899c414e77f82d5c6d2bffbeaf7fe,2016,3304557,Rio de Janeiro,33,RJ,25,F,0.0,...,5.0,C,A,A,A,A,D,A,A,A
4,5,bf896ac8d3ecadd6dba1dfbf50110afcbf5d3268,2016,1302603,Manaus,13,AM,28,M,0.0,...,NaN,A,A,A,A,A,A,A,A,A

In [124]:
df_train = df_train[columns]

In [125]:
df_train.columns

Index(['NU_INSCRICAO', 'CO_UF_RESIDENCIA', 'SG_UF_RESIDENCIA', 'NU_IDADE',
       'TP_SEXO', 'TP_COR_RACA', 'TP_NACIONALIDADE', 'TP_ST_CONCLUSAO',
       'TP_ANO_CONCLUIU', 'TP_ESCOLA', 'TP_ENSINO', 'IN_TREINEIRO',
       'TP_DEPENDENCIA_ADM_ESC', 'IN_BAIXA_VISAO', 'IN_CEGUEIRA', 'IN_SURDEZ',
       'IN_DISLEXIA', 'IN_DISCALCULIA', 'IN_SABATISTA', 'IN_GESTANTE',
       'IN_IDOSO', 'TP_PRESENCA_CN', 'TP_PRESENCA_CH', 'TP_PRESENCA_LC',
       'CO_PROVA_CN', 'CO_PROVA_CH', 'CO_PROVA_LC', 'CO_PROVA_MT',
       'NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC', 'TP_LINGUA',
       'TP_STATUS_REDACAO', 'NU_NOTA_COMP1', 'NU_NOTA_COMP2', 'NU_NOTA_COMP3',
       'NU_NOTA_COMP4', 'NU_NOTA_COMP5', 'NU_NOTA_REDACAO', 'Q001', 'Q002',
       'Q006', 'Q024', 'Q025', 'Q026', 'Q027', 'Q047', 'NU_NOTA_MT'],
      dtype='object')

In [126]:
df_train.drop(columns=['NU_INSCRICAO','SG_UF_RESIDENCIA'],inplace=True)

In [127]:
df_train.dropna(subset=['NU_NOTA_MT','NU_NOTA_CN','NU_NOTA_CH','NU_NOTA_LC'],inplace=True)

In [128]:
df_train.drop(columns=['Q027','TP_ENSINO','TP_DEPENDENCIA_ADM_ESC'],inplace=True)

In [129]:
df_train_test1=pd.get_dummies(df_train)

In [130]:
df_train_fe=df_train[['NU_NOTA_CN','NU_NOTA_CH','NU_NOTA_LC']]
df_train_y=df_train[['NU_NOTA_MT']]

In [131]:
lr = LinearRegression()

In [132]:
lr.fit(df_train_fe.dropna(),df_train_y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [133]:
inscricao=df[['NU_INSCRICAO']]
df = df[['NU_NOTA_CN','NU_NOTA_CH','NU_NOTA_LC']]

In [134]:
df=df.dropna()

In [135]:
mat=lr.predict(df)

In [136]:
inscricao['NU_NOTA_MT']=mat

In [137]:
inscricao.head()

                               NU_INSCRICAO  NU_NOTA_MT
0  73ff9fcc02f0a99919906c942c2e1a1042cdcf98  436.984931
1  71a95f9f1b91a82c65ad94abbdf9f54e6066f968  434.396428
2  b38a03232f43b11c9d0788abaf060f7366053b6d  593.742540
4  715494628a50142ce8cb17191cfe6d0f3cae0934  549.635429
5  e656d6bad65c93fb2880f1eba5037008c8e75774  465.724227

In [138]:
inscricao.to_csv('answer.csv',index=False)